@import "tailwindcss";

:root {
  --color-primary:#632b91;
  --color-secondary: #99144d;
  --color-background: #faf9f6;
  --color-text: #333333;  
  
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #faf9f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 2rem;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  color: var(--color-text);
  display: inline;
}

h2 {
  color: var(--color-primary);
  display: inline;
}


/* a {
  font-weight: 500;
  color: var(--color-secondary);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-background);
  filter: opacity(1.2);
} */

.link-button, .delete-button {
  border: solid 2px transparent;
}

.link-button:hover {
  background-color: rgba(99, 43, 145, .05);
  color: var(--color-primary);
  border-color: var(--color-primary);
  cursor: pointer;
}

.delete-button:hover {
  background-color: rgba(99, 43, 145, .05);
  color: var(--color-secondary);
  border-color: var(--color-secondary);
  cursor: pointer;
}